<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <h2>Detalii Tabel</h2>

  <form action="" method="POST">{% csrf_token %}
    <div class="form-group row">
      <label for="id_poarta">id_poarta</label>
      <select name="id_poarta" id="id_poarta" class="form-control">
        {% for poarta in porti %}
        <option value="{{ poarta.id_poarta }}">
          {{ poarta.id_poarta }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group row">
      <label for="id_angajat">id_angajat (Nume)</label>
      <select name="id_angajat" id="id_angajat" class="form-control">
        {% for angajat in angajati %}
        <option value="{{ angajat.id_angajat }}">{{angajat.id_angajat}}
          {{ angajat.nume }} {{angajat.prenume}}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group row">
      <label for="id_tura">id_tura si interval orar</label>
      <select name="id_tura" id="id_tura" class="form-control">
        {% for tura in ture %}
        <option value="{{ tura.id_tura }}">
          {{ tura.id_tura }} {{tura.ora_incepere}} {{tura.ora_sfarsit}}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group row">
      <label for="data">data</label>
      <input type="text" class="form-control" placeholder="DD-MMM-YYYY" name="data" id="data">
    </div>
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/ALTL" class="btn btn-primary">Cancel</a>
  </form>
</body>