<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Poarta</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <h2>Detalii Poartă</h2>

  <form action="" method="POST">{% csrf_token %}
    <div class="form-group row">
      <label for="id_comanda">id_comanda</label>
      <input type="text" class="form-control" name="id_comanda" id="id_comanda">
    </div>
    <div class="form-group row">
      <label for="data_comanda">data_comanda</label>
      <input type="text" class="form-control" name="data_comanda" placeholder="sysdate" id="data_comanda">
    </div>
    <div class="form-group row">
      <label for="tip_comanda">tip_comanda</label>
      <select name="tip_comanda" id="tip_comanda" class="form-control">
        {% for op in opt %}
        <option value="{{ op }}">
          {{ op }}
        </option>
        {% endfor %}
      </select>
    </div>
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/comanda" class="btn btn-primary">Cancel</a>
  </form>
</body>