<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Produs</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br>
  <div class="container d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="width: 30rem;">
      <div class="card-header">Detalii Produs</div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_produs" class="form-label">id_produs</label>
            <input type="text" class="form-control" name="id_produs" id="id_produs">
          </div>
          <div class="mb-3">
            <label for="id_firma" class="form-label">id_firma</label>
            <select name="id_firma" id="id_firma" class="form-control">
              {% for firma in firme %}
              <option value="{{ firma.id_firma }}">
                {{ firma.nume }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="nume_produs" class="form-label">nume_produs</label>
            <input type="text" class="form-control" name="nume_produs" id="nume_produs">
          </div>
          <div class="mb-3">
            <label for="nr_paleti" class="form-label">nr_paleti</label>
            <input type="text" class="form-control" name="nr_paleti" id="nr_paleti">
          </div>
          <div class="mb-3">
            <label for="produse_per_palet" class="form-label">produse_per_palet</label>
            <input type="text" class="form-control" name="produse_per_palet" id="produse_per_palet">
          </div>
          <div class="mb-3">
            <label for="tip_produs" class="form-label">tip_produs</label>
            <select name="tip_produs" id="tip_produs" class="form-control">
              {% for op in opt %}
              <option value="{{ op }}">
                {{ op }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="pret_produs" class="form-label">pret_produs</label>
            <input type="text" class="form-control" name="pret_produs" id="pret_produs">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          &nbsp;
          <a href="/produs" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>

</body>