<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Tir</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <h2>Detalii Tir</h2>

  <form action="" method="POST">{% csrf_token %}
    <div class="form-group row">
      <label for="id_tir">id_tir</label>
      <input type="text" class="form-control" name="id_tir" id="id_tir">
    </div>
    <div class="form-group row">
      <label for="nr_inmatriculare">nr_inmatriculare</label>
      <input type="text" class="form-control" name="nr_inmatriculare" id="nr_inmatriculare">
    </div>
    <div class="form-group row">
      <label for="nume_sofer">nume_sofer</label>
      <input type="text" class="form-control" name="nume_sofer" id="nume_sofer">
    </div>
    <div class="form-group row">
      <label for="prenume_sofer">prenume_sofer</label>
      <input type="text" class="form-control" name="prenume_sofer" id="prenume_sofer">
    </div>
    <div class="form-group row">
      <label for="telefon_sofer">telefon_sofer</label>
      <input type="text" class="form-control" name="telefon_sofer" id="telefon_sofer">
    </div>
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/tir" class="btn btn-primary">Cancel</a>
  </form>
</body>