<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Angajat View</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <h2>Detalii Angajat View</h2>

  <form action="" method="POST">{% csrf_token %}
    <div class="form-group row">
      <label for="id_angajat">id_angajat</label>
      <input type="text" class="form-control" name="id_angajat" id="id_angajat">
    </div>
    <div class="form-group row">
      <label for="nume">nume</label>
      <input type="text" class="form-control" name="nume" id="nume">
    </div>
    <div class="form-group row">
      <label for="prenume">prenume</label>
      <input type="text" class="form-control" name="prenume" id="prenume">
    </div>
    <div class="form-group row">
      <label for="job">job</label>
      <select name="job" id="job" class="form-control">
        {% for job in jobs %}
        <option value="{{ job.id_job }}">
          {{ job.denumire }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group row">
      <label for="nr_telefon">nr_telefon</label>
      <input type="text" class="form-control" name="nr_telefon" id="nr_telefon">
    </div>
    <div class="form-group row">
      <label for="email">email</label>
      <input type="text" class="form-control" name="email" id="email">
    </div>
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/ListView1" class="btn btn-primary">Cancel</a>
  </form>
</body>