<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Noi Poarta</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <h2>Detalii noi Poartă</h2>

  <form action="{% url 'updatePoarta' poarta.id_poarta %}" method="POST">{% csrf_token %}
    <div class="form-group row">
      <label for="stare_poarta">stare_poarta</label>
      <select name="stare_poarta" id="stare_poarta" class="form-control">
        {% for op in opt %}
        {% if op == stare_poarta %}
        <option value="{{ op }}" selected>
          {{ op }}
        </option>
        {% else %}
        <option value="{{ op }}">
          {{ op }}
        </option>
        {% endif %}>
        {% endfor %}
      </select>
    </div>

    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/poarta" class="btn btn-primary">Cancel</a>
  </form>
</body>