<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Noi Job</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br>
  <br>

  <div class="container d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="width: 30rem;">
      <div class="card-header">Detalii noi Job</div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="denumire" class="form-label">denumire</label>
            <input type="text" class="form-control" id="denumire" name="denumire" value="{{denumire}}">
          </div>
          <div class="mb-3">
            <label for="salariu" class="form-label">salariu</label>
            <input type="text" class="form-control" id="salariu" name="salariu" value="{{salariu}}">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          &nbsp;
          <a href="/job" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>

</body>