<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Noi Tir</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br><br>
  <div class="container d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="width: 30rem;">
      <div class="card-header">Detalii noi Tir</div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_tir" class="form-label">id_tir</label>
            <input type="text" class="form-control" id="id_tir" name="id_tir" value="{{id_tir}}">
          </div>
          <div class="mb-3">
            <label for="nr_inmatriculare" class="form-label">nr_inmatriculare</label>
            <input type="text" class="form-control" id="nr_inmatriculare" name="nr_inmatriculare" value="{{nr_inmatriculare}}">
          </div>
          <div class="mb-3">
            <label for="nume_sofer" class="form-label">nume_sofer</label>
            <input type="text" class="form-control" id="nume_sofer" name="nume_sofer" value="{{nume_sofer}}">
          </div>
          <div class="mb-3">
            <label for="prenume_sofer" class="form-label">prenume_sofer</label>
            <input type="text" class="form-control" id="prenume_sofer" name="prenume_sofer" value="{{prenume_sofer}}">
          </div>
          <div class="mb-3">
            <label for="telefon_sofer" class="form-label">telefon_sofer</label>
            <input type="text" class="form-control" id="telefon_sofer" name="telefon_sofer" value="{{telefon_sofer}}">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          &nbsp;
          <a href="/tir" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</body>

</html>