<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Detalii Noi Angajat</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br>
  <br>

  <div class="container d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="width: 30rem;">
      <div class="card-header">Detalii noi Angajat</div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nume" class="form-label">nume</label>
            <input type="text" class="form-control" id="nume" name="nume" value="{{nume}}">
          </div>
          <div class="mb-3">
            <label for="prenume" class="form-label">prenume</label>
            <input type="text" class="form-control" id="prenume" name="prenume" value="{{prenume}}">
          </div>
          <div class="mb-3">
            <label for="job" class="form-label">job</label>
            <select name="job" id="job" class="form-control">
              {% for job in jobs %}
              {% if job.id_job == angajat.job %}
              <option value="{{ job.id_job }}" selected>
                {{ job.denumire }}
              </option>
              {% else %}
              <option value="{{ job.id_job }}">
                {{ job.denumire }}
              </option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="nr_telefon" class="form-label">nr_telefon</label>
            <input type="text" class="form-control" id="nr_telefon" name="nr_telefon" value="{{nr_telefon}}">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{email}}">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          &nbsp;
          <a href="/angajat" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>

</body>