{% load static %}
<!doctype html>
<html>

<head>
  <title>Pagina Pornire</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <div style="text-align: center;">

    &nbsp;&nbsp;&nbsp;
    <h2>Warehouse Management - Database Project</h2>
    <br>
    <div class="container" style="width:60%;">
      <p>This project facilitates interaction with the database by providing quick search capabilities for each column, rapid sorting, as well as easy editing, adding, and deleting of data through the interface.</p>
      <p>This is how the conceptual diagram for the database looks like:</p>
      <img src="{% static 'Conceptual Diagram.png' %}" alt="Database Schema" style="width:100%;">
      <br><br>
    </div>

    <div style="text-align: center;">

</body>

</html>