<!doctype html>
<html>

<head>
  <title>Pagina Pornire</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <div style="text-align: center;">

    <br><br>
    &nbsp;&nbsp;&nbsp;
    <h2>Warehouse Management - Database Project</h2>
    <br>
    <div class="container" style="width:60%;">
      <p>Acest proiect faciliteaza interacțiunea cu baza de date aducând posibilități de căutare rapidă după fiecare coloană, sortare rapidă, cât și editarea, adăugarea și ștergerea datelor este făcută facilă prin intermediul interfeței.</p>
      <br>
      <p>Tabelele se pot selecta prin butoanele din bara de navigație, iar odată selectată o tabelă, se va putea folosi și funcția de căutare din dreapta bării de navigație.</p>
    </div>

    <div style="text-align: center;">

</body>

</html>