<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>Angajat_lucreaza_tura_la_poarta</title>
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>
</head>
<div>
    <form action="{% url 'ListALTL' %}" method="GET" class="form-inline">
        <button type="submit" class="btn btn-primary my-1">Sortează</button>
        <select name="sort_order" id="sort_order" class="custom-select my-1 mr-sm-2">
            <option value="asc">Crescător</option>
            <option value="desc">Descrescător</option>
        </select>
        <select name="sort_by" id="sort_by" class="custom-select my-1 mr-sm-2">
            <option value="id_poarta">id_poarta</option>
            <option value="id_angajat">id_angajat</option>
            <option value="id_tura">id_tura</option>
            <option value="data">data</option>
        </select>
    </form>
    <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
    <a class="btn btn-primary" href="{% url 'addALTL' %}">Adaugă Înregistrare</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">id_poarta</th>
            <th scope="col">id_angajat</th>
            <th scope="col">id_tura</th>
            <th scope="col">data</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for ALTL in ALTLs %}
        <tr>
            <td>{{ ALTL.id_poarta }}</td>
            <td>{{ ALTL.id_angajat }}</td>
            <td>{{ ALTL.id_tura }}</td>
            <td>{{ ALTL.data}}</td>
            <td><a class="btn btn-primary"
                    href='updateALTL/{{ ALTL.id_poarta }}/{{ ALTL.id_angajat }}/{{ALTL.id_tura}}/{{ALTL.data}}'>Edit</a>
            </td>
            <td><a class="btn btn-primary"
                    href='deleteALTL/{{ ALTL.id_poarta }}/{{ ALTL.id_angajat }}/{{ALTL.id_tura}}/{{ALTL.data}}'>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>