<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Poarta</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <table class="table" id="ListPoarta">
          <thead>
            <tr>
              <th scope="col" style="width:20%">
                <a href="{% url 'ListPoarta' %}?sort_by=id_poarta&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  id_poarta
                  {% if sort_by == 'id_poarta' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col" style="width:40%;">
                <a href="{% url 'ListPoarta' %}?sort_by=stare_poarta&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  stare_poarta
                  {% if sort_by == 'stare_poarta' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col" colspan="2">
                <div class="d-inline-block" style="margin-left:18%;">
                  <a class="btn btn-primary btn-sm" href="{% url 'addPoarta' %}">Add Poartă</a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for poarta in porti %}
            <tr>
              <td>
                {{ poarta.id_poarta }}
              </td>
              <td>
                {{ poarta.stare_poarta }}
              </td>
              <td><a class="btn btn-success btn-sm" href='updatePoarta/{{ poarta.id_poarta }}'>Edit</a></td>
              <td><a class="btn btn-danger btn-sm" href='deletePoarta/{{ poarta.id_poarta }}'>Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% load pagination_tags %}

  {% render_pagination porti request %}

</body>
<script>
  $(document).ready(function() {
    $("#searchInput").on("input", function() {
      performSearch();
    });


    function performSearch() {
      var searchQuery = $("#searchInput").val();
      if ($("#searchButton").text().trim() == "Select column") {
        var searchColumn = "id_poarta";
      } else {
        var searchColumn = $("#searchButton").text().trim();
      }

      $.ajax({
        type: "GET",
        url: "/poarta/",
        data: {
          search_query: searchQuery,
          sort_by: "{{ sort_by }}",
          sort_order: "{{ sort_order }}",
          search_column: searchColumn,
        },
        success: function(data) {
          $(".table").html($(data).find(".table").html());
        },
        error: function(error) {
          console.log(error);
        },
      });
    }
  });
</script>