<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Produse Comanda</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <table class="table" id="ListProduse_comanda">
          <thead>
            <tr>
              <th scope="col">
                <a href="{% url 'ListProduse_comanda' %}?sort_by=id_produs&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  id_produs
                  {% if sort_by == 'id_produs' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProduse_comanda' %}?sort_by=id_comanda&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  id_comanda
                  {% if sort_by == 'id_comanda' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProduse_comanda' %}?sort_by=nr_paleti&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  nr_paleti
                  {% if sort_by == 'nr_paleti' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col"> <a class="btn btn-primary btn-sm" style="margin-left:-15%;" href="{% url 'addProduse_comanda' %}">Add Produs Comanda</a></th>
            </tr>
          </thead>
          <tbody>
            {% for prod_com in prods_comanda %}
            <tr>
              <td>
                {{ prod_com.id_produs }}
              </td>
              <td>
                {{ prod_com.id_comanda }}
              </td>
              <td>
                {{ prod_com.nr_paleti }}
              </td>
              <td><a class="btn btn-danger btn-sm" href='deleteProduse_comanda/{{ prod_com.id_produs }}/{{ prod_com.id_comanda }}'>Delete</a>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% load pagination_tags %}

  {% render_pagination prods_comanda request %}

</body>
<script>
  $(document).ready(function() {
    $("#searchInput").on("input", function() {
      performSearch();
    });


    function performSearch() {
      var searchQuery = $("#searchInput").val();
      if ($("#searchButton").text().trim() == "Select column") {
        var searchColumn = "id_produs";
      } else {
        var searchColumn = $("#searchButton").text().trim();
      }

      $.ajax({
        type: "GET",
        url: "/Produse_comanda/",
        data: {
          search_query: searchQuery,
          sort_by: "{{ sort_by }}",
          sort_order: "{{ sort_order }}",
          search_column: searchColumn,
        },
        success: function(data) {
          $(".table").html($(data).find(".table").html());
        },
        error: function(error) {
          console.log(error);
        },
      });
    }
  });
</script>