<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Vizualizare Compusa</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <div>
    <h2>Vizualizare a angajaților și detalii despre job</h2>
    <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
    <a class="btn btn-primary" href="{% url 'addView1' %}">Insert vizualizare</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id_angajat</th>
        <th scope="col">nume</th>
        <th scope="col">prenume</th>
        <th scope="col">job</th>
        <th scope="col">nr_telefon</th>
        <th scope="col">email</th>
        <th scope="col">denumire</th>
        <th scope="col">salariu</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for view in vizualizari %}
      <tr>
        <td>
          {{ view.id_angajat }}
        </td>
        <td>
          {{ view.nume }}
        </td>
        <td>
          {{ view.prenume }}
        </td>
        <td>
          {{ view.job }}
        </td>
        <td>
          {{ view.nr_telefon }}
        </td>
        <td>
          {{ view.email }}
        </td>
        <td>
          {{ view.denumire }}
        </td>
        <td>
          {{ view.salariu }}
        </td>
        <td><a class="btn btn-primary" href='updateView1/{{ view.id_angajat }}'>Edit</a>
        </td>
        <td><a class="btn btn-primary" href='deleteView1/{{ view.id_angajat }}'>Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>