<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Transport</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <div>
    <form action="{% url 'ListTransport' %}" method="GET" class="form-inline">
      <button type="submit" class="btn btn-primary my-1">Sortează</button>
      <select name="sort_order" id="sort_order" class="custom-select my-1 mr-sm-2">
        <option value="asc">Crescător</option>
        <option value="desc">Descrescător</option>
      </select>
      <select name="sort_by" id="sort_by" class="custom-select my-1 mr-sm-2">
        <option value="id_tir">id_tir</option>
        <option value="distanta">distanta</option>
        <option value="iesire">iesire</option>
      </select>
    </form>
    <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
    <a class="btn btn-primary" href="{% url 'addTransport' %}">Adaugă Transport</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id_tir</th>
        <th scope="col">id_comanda</th>
        <th scope="col">distanta</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for transport in transporturi %}
      <tr>
        <td>
          {{ transport.id_tir }}
        </td>
        <td>
          {{ transport.id_comanda }}
        </td>
        <td>
          {{ transport.distanta }}
        </td>
        <td><a class="btn btn-primary" href='updateTransport/{{ transport.id_tir }}/{{transport.id_comanda}}'>Edit</a>
        </td>
        <td><a class="btn btn-primary" href='deleteTransport/{{ transport.id_tir }}/{{transport.id_comanda}}'>Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>