<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Produs Stoc</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <table class="table" id="ListProdus">
          <thead>
            <tr>
              <th scope="col">
                <a href="{% url 'ListProdus' %}?sort_by=id_produs&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  id_produs
                  {% if sort_by == 'id_produs' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProdus' %}?sort_by=id_firma&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  id_firma
                  {% if sort_by == 'id_firma' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProdus' %}?sort_by=nume_produs&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  nume_produs
                  {% if sort_by == 'nume_produs' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProdus' %}?sort_by=nr_paleti&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  nr_paleti
                  {% if sort_by == 'nr_paleti' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProdus' %}?sort_by=produse_per_palet&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  produse_per_palet
                  {% if sort_by == 'produse_per_palet' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProdus' %}?sort_by=tip_produs&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  tip_produs
                  {% if sort_by == 'tip_produs' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'ListProdus' %}?sort_by=pret_produs&sort_order={{ new_sort_order }}" class="text-decoration-none text-white">
                  pret_produs
                  {% if sort_by == 'pret_produs' %}
                  {% if sort_order == 'DESC' %}
                  {{ caret_up_svg | safe }}
                  {% else %}
                  {{ caret_down_svg | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col" colspan="2">
                <div class="d-inline-block" style="margin-left:12%;">
                  <a class="btn btn-primary btn-sm" href="{% url 'addProdus' %}">Add Produs</a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for produs_stoc in produse_stoc %}
            <tr>
              <td>
                {{ produs_stoc.id_produs }}
              </td>
              <td>
                {{ produs_stoc.id_firma }}
              </td>
              <td>
                {{ produs_stoc.nume_produs }}
              </td>
              <td>
                {{ produs_stoc.nr_paleti }}
              </td>
              <td>
                {{ produs_stoc.produse_per_palet }}
              </td>
              <td>
                {{ produs_stoc.tip_produs }}
              </td>
              <td>
                {{ produs_stoc.pret_produs }}
              </td>
              <td><a class="btn btn-success btn-sm" href='updateProdus/{{ produs_stoc.id_produs }}'>Edit</a></td>
              <td><a class="btn btn-danger btn-sm" href='deleteProdus/{{ produs_stoc.id_produs }}'>Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% load pagination_tags %}

  {% render_pagination produse_stoc request %}

</body>
<script>
  $(document).ready(function() {
    $("#searchInput").on("input", function() {
      performSearch();
    });


    function performSearch() {
      var searchQuery = $("#searchInput").val();
      if ($("#searchButton").text().trim() == "Select column") {
        var searchColumn = "nume_produs";
      } else {
        var searchColumn = $("#searchButton").text().trim();
      }

      $.ajax({
        type: "GET",
        url: "/produs/",
        data: {
          search_query: searchQuery,
          sort_by: "{{ sort_by }}",
          sort_order: "{{ sort_order }}",
          search_column: searchColumn,
        },
        success: function(data) {
          $(".table").html($(data).find(".table").html());
        },
        error: function(error) {
          console.log(error);
        },
      });
    }
  });
</script>