<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Program Tir</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <div>
    <form action="{% url 'ListProgram_tir' %}" method="GET" class="form-inline">
      <button type="submit" class="btn btn-primary my-1">Sortează</button>
      <select name="sort_order" id="sort_order" class="custom-select my-1 mr-sm-2">
        <option value="asc">Crescător</option>
        <option value="desc">Descrescător</option>
      </select>
      <select name="sort_by" id="sort_by" class="custom-select my-1 mr-sm-2">
        <option value="id_tir">id_tir</option>
        <option value="intrare">intrare</option>
        <option value="iesire">iesire</option>
      </select>
    </form>
    <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
    <a class="btn btn-primary" href="{% url 'addProgram_tir' %}">Adaugă Program Tir</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id_tir</th>
        <th scope="col">id_poarta</th>
        <th scope="col">intrare</th>
        <th scope="col">iesire</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for program in programs %}
      <tr>
        <td>
          {{ program.id_tir }}
        </td>
        <td>
          {{ program.id_poarta }}
        </td>
        <td>
          {{ program.intrare }}
        </td>
        <td>
          {{ program.iesire }}
        </td>
        <td><a class="btn btn-primary" href='updateProgram_tir/{{ program.id_tir }}/{{program.id_poarta}}/{{program.intrare}}'>Edit</a>
        </td>
        <td><a class="btn btn-primary" href='deleteProgram_tir/{{ program.id_tir }}/{{program.id_poarta}}/{{program.intrare}}'>Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>