<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Tir Table</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <a href="{% url 'TirList' %}?sort_by=id_tir&sort_order={{ new_sort_order }}&search_query={{ search_query }}&search_column={{ search_column }}" class="text-decoration-none text-white">
                  id_tir
                  {% if sort_by == 'id_tir' %}
                  {% if sort_order == 'ASC' %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>' | safe }}
                  {% else %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16"><path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>' | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'TirList' %}?sort_by=nr_inmatriculare&sort_order={{ new_sort_order }}&search_query={{ search_query }}&search_column={{ search_column }}" class="text-decoration-none text-white">
                  nr_inmatriculare
                  {% if sort_by == 'nr_inmatriculare' %}
                  {% if sort_order == 'ASC' %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>' | safe }}
                  {% else %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16"><path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>' | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'TirList' %}?sort_by=nume_sofer&sort_order={{ new_sort_order }}&search_query={{ search_query }}&search_column={{ search_column }}" class="text-decoration-none text-white">
                  nume_sofer
                  {% if sort_by == 'nume_sofer' %}
                  {% if sort_order == 'ASC' %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>' | safe }}
                  {% else %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16"><path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>' | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">
                <a href="{% url 'TirList' %}?sort_by=prenume_sofer&sort_order={{ new_sort_order }}&search_query={{ search_query }}&search_column={{ search_column }}" class="text-decoration-none text-white">
                  prenume_sofer
                  {% if sort_by == 'prenume_sofer' %}
                  {% if sort_order == 'ASC' %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>' | safe }}
                  {% else %}
                  {{ '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16"><path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>' | safe }}
                  {% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col">telefon_sofer</th>
              <th scope="col" colspan="2">
                <div class="d-inline-block" style="margin-left:15%;">
                  <a class="btn btn-primary btn-sm" href="{% url 'addTir' %}">Adaugă Tir</a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for tir in tiruri %}
            <tr>
              <td>
                {{ tir.id_tir }}
              </td>
              <td>
                {{ tir.nr_inmatriculare }}
              </td>
              <td>
                {{ tir.nume_sofer }}
              </td>
              <td>
                {{ tir.prenume_sofer }}
              </td>
              <td>
                {{ tir.telefon_sofer }}
              </td>
              <td><a class="btn btn-success btn-sm" href='updateTir/{{ tir.id_tir }}'>Edit</a></td>
              <td><a class="btn btn-danger btn-sm" href='deleteTir/{{ tir.id_tir }}'>Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

  {% load pagination_tags %}

  {% render_pagination tiruri request %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#searchInput').on('input', function() {
        performSearch();
      });

      $('#searchButton').on('click', '.dropdown-item', function() {
        performSearch();
      });

      function performSearch() {
        var searchQuery = $('#searchInput').val();
        var searchColumn = $('#searchButton').text().trim();
        $.ajax({
          type: 'GET',
          url: '/tir/',
          data: {
            'search_query': searchQuery,
            'sort_by': '{{ sort_by }}',
            'sort_order': '{{ sort_order }}',
            'search_column': searchColumn
          },
          success: function(data) {
            $('.table').html($(data).find('.table').html());
          },
          error: function(error) {
            console.log(error);
          }
        });
      }
    });
  </script>
</body>