<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <title>Warning On Delete Cascade</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>

<body>
  {% include 'fragments/navbar.html' %}
  <div style="text-align: center;">
    <h1>Dacă ștergeți Jobul, următorii angajați vor fi concediați și șterși din baza de date:</h1>
  </div>
</body>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id_angajat</th>
      <th scope="col">nume</th>
      <th scope="col">prenume</th>
      <th scope="col">job</th>
      <th scope="col">nr_telefon</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    {% for angajat in angajati %}
    <tr>
      <td>
        {{ angajat.id_angajat }}
      </td>
      <td>
        {{ angajat.nume }}
      </td>
      <td>
        {{ angajat.prenume }}
      </td>
      <td>
        {{ angajat.job }}
      </td>
      <td>
        {{ angajat.nr_telefon }}
      </td>
      <td>
        {{ angajat.email }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form action="" method="POST">{% csrf_token %}
  <button type="btnAdd" class="btn btn-primary">Submit</button>
  <a href="/job" class="btn btn-primary">Cancel</a>
</form>